<!DOCTYPE html>
<html lang="en">
   <title>Notification - BAD Subscriber</title>
   <head>
      <script type="text/javascript" src="/utils/js/jquery-1.12.4.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
         integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
         integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
         crossorigin="anonymous"></script>
      <script type="text/javascript" src="/utils/js/ng-infinite-scroll.min.js"></script>
      <script type="text/javascript"
         src="https://cdn.rawgit.com/gdi2290/angular-websocket/v1.0.9/angular-websocket.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
      <script src="http://rawgit.com/angular-ui/angular-google-maps/2.0.X/dist/angular-google-maps.js"></script>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB7GN3xAzg49710-kfwx-IMvI97WUcZBAE&libraries=geometry"></script>
   </head>
   <body ng-app="myApp">
      <div class="container_fluid">
         <div ng-controller="NotificationController">
            <nav class="navbar navbar-light navbar-static-top" style="background-color: #222222;">
               <div class="container">
                  <a class="navbar-brand" href="notifications.html">BAD_Subscriber</a>
                  <ul class="nav navbar-nav navbar-right">
                     <li class="nav-item active">
                        <a class="nav-link" href="subscriptions.html" ng-click="AfterRead()";>Subscriptions<span
                           class="sr-only">(current)</span></a>
                     </li>
                     <li class="nav-item active" style="float:left">
                        <a class="nav-link" href="notifications.html">Notifications <span
                           class="badge">{{numNoti}}</span></a>
                     </li>
                     <li class="dropdown">
                        <button class="btn btn-primary dropdown-toggle navbar-btn" role="button" id="dropdownMenu1"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings <span
                           class="caret"></span></button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                           <li><a href="profile.html" ng-click="AfterRead()">Profile</a></li>
                           <li role="separator" class="divdider"></li>
                           <li><a href="#" ng-click="logoutUser()">Log Out</a></li>
                        </ul>
                     </li>
                  </ul>
               </div>
            </nav>
            <div class="col-md-2 col-md-offset-2">
               <select class="form-control" ng-model="showtype" ng-change="typeChange()">
                  <option value="incoming">Incoming</option>
                  <option value="inactive">Active</option>
                  <option value="history">History</option>
               </select>
            </div>
            <!-- tabs title -->
            <div class="col-md-8 col-md-offset-2">
               <ul class="nav nav-tabs right">
                  <li class="active"><a data-toggle="tab" href="#map">Map View</a></li>
                  <li><a data-toggle="tab" href="#list">List View</a></li>
                  <!--<li><a data-toggle="tab" href="#history">History</a></li>-->
               </ul>
            </div>
            <div class="row">
               <div id="main-content">
                  <div class="modal fade" id="alertmodal" role="dialog">
                     <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                           <div class="modal-header">
                              <img src="res/alert.png" class="img-responsive" style="float:left">
                           </div>
                           <div class="modal-body">
                              <p>Alert: {{alertmsg}}</p>
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeAlert()">Close</button>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div ng-init="init()">
                     <div class="tab-content">
                        <!-- map tab -->
                        <div id="map" class="tab-pane in active">
                           <div class="col-md-8 col-md-offset-2">
                              <div class="map_canvas_big" >
                                 <ui-gmap-google-map center="map.center" zoom="map.zoom" control='control' events="map.events">
                                    <ui-gmap-marker ng-repeat="s in shelters | filter:showtype=='incoming'" coords="s.coords" idkey="s.id" options="s.options">
                                       <ui-gmap-window show="show">
                                          <div>
                                             <p>Name: {{s.message.name}}</p>
                                             <p>Location: {{s.message.coords}}</p>
                                          </div>
                                       </ui-gmap-window>
                                    </ui-gmap-marker>
                                    <ui-gmap-marker coords="mylocation.coords" idkey="mylocation.id" options="mylocation.options" events="mylocation.events">
                                       <ui-gmap-window show="show">
                                          <div>
                                             <p>{{mylocation.message}}{{mylocation.coords}}</p>
                                          </div>
                                       </ui-gmap-window>
                                    </ui-gmap-marker>
                                    <ui-gmap-marker ng-repeat="m in showmkr[showtype] | filter:myFilter()" coords="m.coords" idkey="m.id" options="m.options">
                                       <ui-gmap-window show="show">
                                          <div>
                                             <p>Emergency: {{m.message.emergencytype| uppercase}}</p>
                                             <p>Severity: {{m.message.severity}}</p>
                                             <p>Message: {{m.message.message}}</p>
                                             <p>Coordinates: {{m.message.coordinates}}</p>
                                             <p>Radius: {{m.message.radius}}m</p>
                                             <p>Duration: {{m.message.duration}}s</p>
                                             <p>TimeStamp: {{m.message.timestamp | date:"MM/dd/yyyy 'at' h:mm:ssa"}}</p>
                                          </div>
                                       </ui-gmap-window>
                                    </ui-gmap-marker>
                                    <ui-gmap-circle ng-repeat="c in showclc[showtype] | filter:myFilter()" center="c.center" stroke="c.stroke" fill="c.fill" radius="c.radius" coords="c.center" visible="c.visible">
                                    </ui-gmap-circle>
                                 </ui-gmap-google-map>
                              </div>
                           </div>
                           <div class="col-md-8 col-md-offset-2">
                              <button type="submit" class="btn btn-primary" ng-click="MyLoc()">MyLocation
                              </button>
                           </div>
                        </div>
                        <!-- list tab -->
                        <!--
                           <div id="list" class="tab-pane fade">
                              <div class="col-md-8 col-md-offset-2">
                                 <table class="table table-hover">
                                    <thead>
                                       <tr>
                                          <th>Type</th>
                                          <th>Severity</th>
                                          <th>Message</th>
                                          <th>Coordinates</th>
                                          <th>Radius</th>
                                          <th>Duration</th>
                                          <th>Timestamp</th>
                                       </tr>
                                    </thead>
                                    <tbody ng-repeat='message in showmsg[showtype]' ng-hide='!message.visibl'>
                                       <tr>
                                          <th>{{message.emergencytype| uppercase}}</th>
                                          <th>{{message.severity}}</th>
                                          <th>{{message.message}}</th>
                                          <th>{{message.coordinates}}</th>
                                          <th>{{message.radius}}m</th>
                                          <th>{{message.duration}}s</th>
                                          <th>{{message.timestamp | date:"MM/dd/yyyy 'at' h:mm:ssa"}}</th>
                                       </tr>
                                    </tbody>
                                 </table>
                              </div>
                           </div>
                           -->
                        <!-- sorted list tab -->
                        <div id="list" class="tab-pane fade">
                           <div class="col-md-8 col-md-offset-2">
                              <!-- <p>Ordered By: {{orderByField}}, Reverse Sort: {{reverseSort}}</p> -->
                              <table class="table table-hover">
                                 <thead>
                                    <tr>
                                       <th><a href="#" ng-click="orderByField='emergencytype'; reverseSort = !reverseSort">Type<span ng-show="orderByField == 'emergencytype'"><span ng-show="!reverseSort"> <img src="res/up.png"></span><span ng-show="reverseSort"> <img src="res/down.png"></span></span></a></th>
                                       <th><a href="#" ng-click="orderByField='severity'; reverseSort = !reverseSort">Severity<span ng-show="orderByField == 'severity'"><span ng-show="!reverseSort"> <img src="res/up.png"></span><span ng-show="reverseSort"> <img src="res/down.png"></span></span></a></th>
                                       <th>Message</th>
                                       <th>Coordinates</th>
                                       <th>Radius</th>
                                       <th>Duration</th>
                                       <th><a href="#" ng-click="orderByField='timestamp'; reverseSort = !reverseSort">Timestamp<span ng-show="orderByField == 'timestamp'"><span ng-show="!reverseSort"> <img src="res/up.png"></span><span ng-show="reverseSort"> <img src="res/down.png"></span></span></a></th>
                                    </tr>
                                 </thead>
                                 <tbody ng-repeat="message in showmsg[showtype] | orderBy:orderByField:reverseSort | filter:myFilter()" ng-hide="!message.visibl">
                                    <tr>
                                       <th>{{message.emergencytype| uppercase}}</th>
                                       <th>{{message.severity}}</th>
                                       <th>{{message.message}}</th>
                                       <th>{{message.coordinates}}</th>
                                       <th>{{message.radius}}m</th>
                                       <th>{{message.duration}}s</th>
                                       <th>{{message.timestamp | date:"MM/dd/yyyy 'at' h:mm:ssa"}}</th>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      </div>
      <script type="text/javascript" src="/utils/js/app.js"></script>
      <script type="text/javascript" src="js/NotificationController.js"></script>
      <script type="text/javascript" src="js/NotificationGetter.js"></script>
      <script type="text/javascript" src="js/EmergenciesGetter.js"></script>
      <script type="text/javascript" src="js/geolocationService.js"></script>
      <script type="text/javascript" src="/utils/js/SessionStorage.js"></script>
      <script type="text/javascript" src="/utils/js/ng-infinite-scroll.min.js"></script>
      <link rel="stylesheet" type="text/css" href="/utils/css/style.css">
   </body>
</html>
