<!DOCTYPE html>
<html lang="en">
   <title>Publish - BAD Publisher</title>
   <head>
      <script type="text/javascript" src="/utils/js/jquery-1.12.4.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
         integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
         integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
         crossorigin="anonymous"></script>
      <script type="text/javascript" src="/utils/js/ng-infinite-scroll.min.js"></script>
      <script type="text/javascript"
         src="https://cdn.rawgit.com/gdi2290/angular-websocket/v1.0.9/angular-websocket.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
      <script src="http://rawgit.com/angular-ui/angular-google-maps/2.0.X/dist/angular-google-maps.js"></script>
      <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB7GN3xAzg49710-kfwx-IMvI97WUcZBAE&libraries=places&sensor=false"></script>
   	  <!--<script type="text/javascript" src="js/CheckBrowserClose.js"></script>-->
   </head>
   <body ng-app="myApp">
      <div ng-controller="UploadCtrl">
         <nav class="navbar navbar-light navbar-static-top" style="background-color: #00aacc;">
            <div class="container">
               <a class="navbar-brand" href="#">BAD_Publisher</a>
               <ul class="nav navbar-nav navbar-right">
                  <li class="nav-item active">
                     <a class="nav-link" href="upload.html">Publish<span
                        class="sr-only">(current)</span></a>
                  </li>
                  <li class="dropdown">
                     <button class="btn btn-primary dropdown-toggle navbar-btn" role="button" id="dropdownMenu1"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings <span
                        class="caret"></span></button>
                     <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="pubprofile.html">Profile</a></li>
                        <li role="separator" class="divdider"></li>
                        <li><a href="#" ng-click="logoutUser()">Log Out</a></li>
                     </ul>
                  </li>
               </ul>
            </div>
         </nav>
         <div class="container">
            <div class="row">
               <div id="main-content" ng-init="init()">
                  <div class="modal fade" id="alertmodal" role="dialog">
                     <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                           <div class="modal-header">
                              <img src="res/alert.png" class="img-responsive" style="float:left">
                           </div>
                           <div class="modal-body">
                              <p>Alert: {{alertmsg}}</p>
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeAlert()">Close</button>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <h2 style="margin-bottom:50px">Emergency Report Publish</h2>
                     <hr/>
                     <div class="col-md-6">
                        <form class="form-horizontal" role="form">
                           <h3>Publish Options</h3>
                           <hr/>
                           <div class="form-group" style="margin-top:50px">
                              <label class="control-label col-sm-4">Type:</label>
                              <div class="col-sm-4">
                                 <select class="form-control" ng-model="typeselection" ng-change="typeChange()">
                                    <option value="">---Please Select---</option>
                                    <option ng-repeat="type in types" value={{type.val}}>{{type.name}}</option>
                                 </select>
                              </div>
                           </div>
                           <div class="form-group">
                              <label class="control-label col-sm-4">Location:</label>
                              <div class="col-sm-4">
                                 <select class="form-control" ng-model="locselection" ng-change="locChange()">
                                    <option value="">---Please Select---</option>
                                    <option ng-repeat="loc in locs" value={{loc.val}}>{{loc.name}}</option>
                                    <option value="onmap">Drag on Map</option>
                                 </select>
                              </div>
                           </div>
                           <div class="col-sm-offset-4 col-sm-8">
                              <button type="submit" class="btn btn-primary" ng-click="publishBtn()">Publish
                              </button>
                           </div>
                           
                        </form>
                     </div>
                     <div class="col-md-6">
                        <h3>Publish Map</h3>
                        <hr/>
                        <div class="row">
                           <div class="col-md-12">
                              <div class="map_canvas_loc" >
                                 <ui-gmap-google-map  center="map.center" zoom='map.zoom' control='control' events="map.events">
                                    <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"> </ui-gmap-marker>
                                 </ui-gmap-google-map>
                              </div>
                           </div>
                           <div class="col-md-12" ng-hide="!(locselection=='onmap')">
                              <div class="form-group">
                                 <label style="margin-top:30px">Location: {{marker.coords}}</label>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-12">
                     <h3>Publish History</h3>
                           <hr/>
                           <table class="table table-hover">
                              <thead>
                                 <tr>
                                    <th>Type</th>
                                    <th>City</th>
                                    <th>Description</th>
                                 </tr>
                              </thead>
                              <tbody ng-repeat='report in reports'>
                                 <tr>
                                    <th>{{report.type}}</th>
                                    <th>{{report.city}}</th>
                                    <th>{{report.desc}}</th>
                                 </tr>
                              </tbody>
                           </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script type="text/javascript" src="/utils/js/app.js"></script>
      <script type="text/javascript" src="js/UploadCtrl.js"></script>
      <script type="text/javascript" src="js/UploadGetter.js"></script>
      <script type="text/javascript" src="js/geolocationService.js"></script>
      <script type="text/javascript" src="js/EmergenciesGetter.js"></script>
      <script type="text/javascript" src="/utils/js/SessionStorage.js"></script>
      <script type="text/javascript" src="/utils/js/ng-infinite-scroll.min.js"></script>
      <link rel="stylesheet" type="text/css" href="/utils/css/style.css">
   </body>
</html>
