<!DOCTYPE html>
<html lang="en">
   <title>Big Active Data</title>
   <head>
      <script type="text/javascript" src="/utils/js/jquery-1.12.4.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      <script type="text/javascript" src="https://cdn.rawgit.com/gdi2290/angular-websocket/v1.0.9/angular-websocket.min.js"></script>
      <script src="http://rawgit.com/angular-ui/angular-google-maps/2.0.X/dist/angular-google-maps.js"></script>
   </head>
   <body ng-app="myApp">
      <div ng-controller="IndexController">
         <nav class="navbar navbar-light navbar-static-top"  style="background-color: #333333">
            <div class="container">
               <a class="navbar-brand" href="#">BAD_Subscriber</a>
               <form class="navbar-form navbar-right">
                  <div class="form-group">
                     <label for="userName" style="color:#778899;">User</label>
                     <input type="text" class="form-control" placeholder="Username" ng-model="username">
                  </div>
                  <div class="form-group">
                     <label for="userPassword" style="color:#778899;">Password</label>
                     <input type="password" class="form-control" id="userPassword" placeholder="Password" ng-model="userpassword">
                  </div>
                  <button type="submit" class="btn btn-primary" ng-click="loginUser(username, userpassword, true)">
                  Log In
                  </button>
                  <button type="submit" class="btn btn-primary" ng-click="tryrole()">
                  TRY!
                  </button>
               </form>
            </div>
         </nav>
         <div class="container">
            <div class="row">
               <div id="main-content">
                  <div class="modal fade" id="alertmodal" role="dialog">
                     <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                           <div class="modal-header">
                              <img src="res/alert.png" class="img-responsive" style="float:left">
                           </div>
                           <div class="modal-body">
                              <p>Alert: {{alertmsg}}</p>
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="modal fade" id="rolechoice" role="dialog">
                     <div class="modal-dialog">
                        <div class="modal-content">
                           <div class="modal-header">
                              <h4 class="modal-title">Choose Your Role:</h4>
                           </div>
                           <div class="modal-body">
                              <form>
                                 <div class="radio">
                                    <label><input type="radio" name="radiorole" ng-model="myrole" value="Rose">Rose @Riverside</label>
                                 </div>
                                 <div class="radio">
                                    <label><input type="radio" name="radiorole" ng-model="myrole" value="Adam">Adam @Austin</label>
                                 </div>
                                 <div class="radio">
                                    <label><input type="radio" name="radiorole" ng-model="myrole" value="Walt">Walt @D.C.</label>
                                 </div>
                                 <div class="radio">
                                    <label><input type="radio" name="radiorole" ng-model="myrole" value="Will">Will @D.C.</label>
                                 </div>
                                 <div class="radio">
                                    <label><input type="radio" name="radiorole" ng-model="myrole" value="Mary">Mary @German</label>
                                 </div>
                                 <div class="radio">
                                    <label><input type="radio" name="radiorole" ng-model="myrole" value="Other">Create OR Use My Own Role</label>
                                 </div>
                                 Your Choice: {{myrole}}
                              </form>
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                              <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="rolebtn(myrole)">OK</button>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-8">
                        <center><img src="/utils/res/sbr.png" alt="BAD" width="50%" height="50%"></center>
                        </br>                     
                     </div>
                     <div class="col-md-4">
                        <h2>Sign up here</h2>
                        <form>
                           <div class="form-group">
                              <label for="userName">Username</label>
                              <input type="text" class="form-control" placeholder="Username" ng-model="newUserLoginName">
                           </div>
                           <div class="form-group">
                              <label for="newUserPassword">Password</label>
                              <input type="password" class="form-control" placeholder="Password" ng-model="newUserPassword">
                           </div>
                           <div class="form-group">
                              <label for="emailAddress">Email</label>
                              <input type="email" class="form-control" placeholder="Email" ng-model="newUserEmail">
                           </div>
                           <button type="submit" class="btn btn-primary" ng-click="registerUser(newUserLoginName, newUserPassword, newUserEmail)">
                           Sign Up
                           </button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <script type="text/javascript" src="/utils/js/app.js"></script>
      <script type="text/javascript" src="js/IndexController.js"></script>
      <script type="text/javascript" src="js/IndexGetter.js"></script>
      <script type="text/javascript" src="/utils/js/SessionStorage.js"></script>
      <script type="text/javascript" src="/utils/js/ng-infinite-scroll.min.js"></script> 
      <link rel="stylesheet" type="text/css" href="/utils/css/style.css">
   </body>
</html>
